
/**
css style sheet for hangman html page homework assignment, Booth Kittson
**/

body {	   
}
#bodyParts {
	background-size: 75%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
.gameBack {
	background-color: #011015;
	background-image: url("../images/bgcatheadpaws.png");
}

.winBack {
	background-color: #011015;
	background-image: url("../images/bgWintext2.png");
}
.winBack2 {
	background-color: #011015;
	background-image: url("../images/kitten2win.png");
}
.loseBack {
	background-color: #011015;
	background-image: url("../images/bgLose.png");
}
	
p {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	font-family: 'Amatic SC', sans-serif;
	color: #FFFFFF;
}
h2 {
	marginS-left: 5%;
	margin-right: 30%;
	margin-top: 30px;
	font-size: 45px;
	font-weight: normal;
	text-align: center;
	
}
.textOnTop {
	margin-left: 5%;
	margin-right: 30%;
	margin-top: 30px;
	font-family: 'Sunshiney', sans-serif;
	color: #F0B663; /* yellow gold */
}

.textOnTop h2 {	
	font-size: 45px;
	font-weight: normal;
	text-align: center;	
}

.textOnTop h3 {
	font-size: 35px;
	font-weight: normal;
	text-align: center;
}

#boxside {
	height: 65px;
	margin-top: 300px;
	width: 16%;
	margin-left: 8%;
	margin-right: 25%;
	position: inherit;
	float: left;
	border: solid; 
	border-color: #CA12D6; /* dark pink */
}
#winsNum {
	font-size: 23px;
	font-weight: normal;
	margin-top: 5px;
	margin-left: 10px !important;
	text-align: left;	
	font-family: 'Sunshiney', sans-serif;
	color: #F0B663; /* yellow gold */
}
#lossNum {
	font-size: 23px;
	font-weight: normal;
	margin-left: 10px !important;
	text-align: left;	
	font-family: 'Sunshiney', sans-serif;
	color: #F0B663; /* yellow gold */
}

/* #hangmangame { */
#gameBox {
	height: 200px;
	margin-top: 50px;
	width: 50%;
	margin-left: 10%;
	
	position: fixed;
	/* position: inherit; */
	border: solid; 
	border-color: #CA12D6; /* dark pink */
}

#topText h1 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	margin-top: 15px;
	font-family: 'Amatic SC', sans-serif;
	color: #FFFFFF;
} 
#topText p {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin-top: 18px;
	font-family: 'Sunshiney', sans-serif;
	color: #FFFFFF;
}
#topText {

}
#badGuess {
	font-size: 40px;
	margin-top: 40px;
	font-weight: normal;
	text-align: center;
	font-family: 'Amatic SC', sans-serif;
	color: #FFFFFF;
}
#goodGuess {
	margin-top: 10px;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	font-family: 'Amatic SC', sans-serif;
	color: #FFFFFF;
}
#gameLength {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	font-family: 'Amatic SC', sans-serif;
	color: #FFFFFF;
}